@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-color: "#93CEC0"
    --light-color: "#D9D9D9"
}

/* #dark {
    fill: var(--dark-color);
}
#light {
    fill: var(--light-color);
} */

svg {
    cursor: pointer;
}


#fire {
    transition: all 1s ease;
    fill: red;
}

svg #fire {
    transform: translatex(100%)
}

svg:hover #fire {
    transform: translateX(0%);
}


a:hover {
    text-decoration: underline;
}

.custom-shape-divider-top-1688534345 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        fill: "#2C302E"
    }
}

.custom-shape-divider-top-1689042667 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689042667 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1689042667 .shape-fill {
    fill: #575A5E;
}

.wave {
    background-image: url("/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divider-footer {
    background-image: url("/img/divider-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divider-new {
    background-image: url("/img/divider-new.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divider-shop {
    background-image: url("/img/divider-shop.svg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.divider-cart {
    background-image: url("/img/divider-cart.svg");
    background-repeat: no-repeat;
    background-size: cover;  
}
