@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-color: "#93CEC0"
    --light-color: "#D9D9D9"
}

/* #dark {
    fill: var(--dark-color);
}
#light {
    fill: var(--light-color);
} */

svg {
    cursor: pointer;
}


#fire {
    transition: all 1s ease;
    fill: red;
}

svg #fire {
    transform: translatex(100%)
}

svg:hover #fire {
    transform: translateX(0%);
}


a:hover {
    text-decoration: underline;
}

.custom-shape-divider-top-1688534345 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -5px;
    svg {
        fill: "#2C302E"
    }
}

.custom-shape-divider-top-1689003855 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -5px;
}

.custom-shape-divider-top-1689003855 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1689003855 .shape-fill {
    fill: #474A48;
}

.custom-shape-divider-top-1689040754 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -5px;
}

.custom-shape-divider-top-1689040754 svg {
    position: relative;
    display: block;
    width: calc(179% + 1.3px);
    height: 193px;
}

.custom-shape-divider-top-1689040754 .shape-fill {
    fill: #909590;
}

.custom-shape-divider-top-1689042667 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -5px;
}

.custom-shape-divider-top-1689042667 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1689042667 .shape-fill {
    fill: #575A5E;
}