@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-color: "#93CEC0"
    --light-color: "#D9D9D9"
}

/* #dark {
    fill: var(--dark-color);
}
#light {
    fill: var(--light-color);
} */

svg {
    cursor: pointer;
}


#fire {
    transition: all 1s ease;
    fill: red;
}

svg #fire {
    transform: translatex(100%)
}

svg:hover #fire {
    transform: translateX(0%);
}


a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url("/img/Hero_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-m {
    text-align: -webkit-center;
}

.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
  }
  
  .card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(18,102,79,1) 0%, rgba(75,39,7,1) 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .card .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(18,102,79,1) 0%, rgba(75,39,7,1) 100%);
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .card .img-content svg {
    width: 50px;
    height: 50px;
    fill: #e8e8e8;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
  }
  
  .card:hover .img-content svg {
    fill: transparent;
  }

  .input_holder {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  